<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="{{url_for('static',filename='users.css')}}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CMDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a>欢迎{{ username }}</a></li>
            <li><a href="/logout/">退出登录</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/users/">用户管理<span class="sr-only">(current)</span></a></li>
              <li ><a href="/logs/">访问日志分析<span class="sr-only"></span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% for msg in get_flashed_messages() %}
                    <p class="bg-success">{{msg}}</p>
            {% endfor %}
            <a class="btn btn-default" href="/user/create/">添加用户</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-user">添加用户</button>
            <br/><br/>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>年龄</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user['username']}}</td>
                        <td>******</td>
                        <td>{{user['age']}}</td>
                        <td>
                            <!--<a href="/user/modify/?id={{user['id']}}">修改</a>-->
                            <!--这种事get方式-->
                            <!--<a href="/user/delete/?id={{user['id']}}" onclick="return confirm('确定删除吗？');">删除</a>-->

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete-user"
                                    data-deleteuserid="{{user['id']}}", data-deleteusername="{{user['username']}}">删除用户</button>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update-age"
                            data-ageuserid="{{user['id']}}", data-ageusername="{{user['username']}}">更改年龄</button>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update-password"
                            data-userid="{{user['id']}}", data-username="{{user['username']}}">修改密码</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
    //修改密码
    <div class="modal fade" id="update-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">修改密码</h4>
          </div>
          <div class="modal-body">
            <form>
                <input type="hidden" id="password-userid" />
                <div class="form-group">
                <label for="password-username" class="control-label">用户名</label>
                <input type="text" class="form-control" id="password-username" readonly="readonly">
              </div>
              <div class="form-group">
                <label for="password-manager-password" class="control-label">管理员密码</label>
                <input type="password" class="form-control" id="password-manager-password">
              </div>
              <div class="form-group">
                <label for="password-user-password" class="control-label">用户密码</label>
                <input type="password" class="form-control" id="password-user-password"></input>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="password-commit">更新</button>
          </div>
        </div>
      </div>
    </div>
    //修改年龄
    <div class="modal fade" id="update-age" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel1">更新用户年龄</h4>
          </div>
          <div class="modal-body">
            <form>
                <input type="hidden" id="age-userid" />
                <div class="form-group">
                <label for="age-username" class="control-label">用户名</label>
                <input type="text" class="form-control" id="age-username" readonly="readonly">
              </div>
              <div class="form-group">
                <label for="age-manager-password" class="control-label">管理员密码</label>
                <input type="password" class="form-control" id="age-manager-password">
              </div>
              <div class="form-group">
                <label for="age-user" class="control-label">用户年龄</label>
                <input type="text" class="form-control" id="age-user"></input>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="age-commit">更新</button>
          </div>
        </div>
      </div>
    </div>
    //添加用户
    <div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel2">添加用户</h4>
          </div>
          <div class="modal-body">
            <form>
                <div class="form-group">
                <label for="create-user-username" class="control-label">用户名</label>
                <input type="text" class="form-control" id="create-user-username">
              </div>
              <div class="form-group">
                <label for="create-user-password" class="control-label">管理员密码</label>
                <input type="password" class="form-control" id="create-user-password">
              </div>
              <div class="form-group">
                <label for="create-user-age" class="control-label">年龄</label>
                <input type="text" class="form-control" id="create-user-age"></input>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="create-user-commit">添加</button>
          </div>
        </div>
      </div>
    </div>
    //删除用户
    <div class="modal fade" id="delete-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel3">添加用户</h4>
          </div>
          <div class="modal-body">
            <form>
                <input type="hidden" id="delete-userid" />
                <div class="form-group">
                <label for="delete-username" class="control-label">用户名</label>
                <input type="text" class="form-control" id="delete-username" readonly="readonly">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="delete-user-commit">确认删除</button>
          </div>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="{{url_for('static',filename='jquery-2.2.4.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript">
      jQuery(document).ready(function () {
          //$就是jQuery
          //更改密码按钮
          $('#update-password').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          var userid = button.data('userid');
          var username = button.data('username');
          var modal = $(this);
          $('#password-userid').val(userid);
          $('#password-username').val(username);
          $('#password-commit').bind('click',function () {
                var parms = {};
                parms['userid'] = $('#password-userid').val();
                parms['manager-password'] = $('#password-manager-password').val();
                parms['user-password'] = $('#password-user-password').val();
                $.post('/user/charge-password/',parms,function (data) {
                    if (data['is_ok']){
                        alert('更新成功');
                        $('#update-password').hide();
                        window.location.reload();
                    }else {
                        alert('更新失败');
                    }
                },'json');
            });
          });
          //更改年龄按钮
          $('#update-age').on('show.bs.modal', function (event){
              var button = $(event.relatedTarget);
              var userid = button.data('ageuserid');
              var username = button.data('ageusername');
              var modal = $(this);
              $('#age-userid').val(userid);
              $('#age-username').val(username);
              $('#age-commit').bind('click',function (){
                  var parms = {};
                  parms['userid'] = $('#age-userid').val();
                  parms['manager-password'] = $('#age-manager-password').val();
                  parms['age-user'] = $('#age-user').val();
                  console.log(parms)
                  $.post('/user/updateage/',parms,function (data) {
                      if (data['is_ok']){
                        alert('更新成功');
                        $('#update-age').modal('hide');
                        window.location.reload();
                    }else {
                        alert('更新失败');
                    }
                  },'json');
              });
          });
          //添加用户
          $('#create-user').on('show.bs.modal', function (event) {
             $('create-user-username').val('');
             $('create-user-password').val('');
             $('create-user-age').val('');
          });
          $('#create-user-commit').on('click',function () {
             var parms = {};
                  parms['username'] = $('#create-user-username').val();
                  parms['password'] = $('#create-user-password').val();
                  parms['age'] = $('#create-user-age').val();
                  $.post('/user/add/',parms,function (data) {
                       if (data['is_ok']){
                        alert('创建成功');
                        $('#create-user').modal('hide');
                        window.location.reload();
                    }else {
                        alert(data['error']);
                    }
                  },'json');
          });
          //删除用户
          $('#delete-user').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var userid = button.data('deleteuserid');
              var username = button.data('deleteusername');
              var modal = $(this);
              $('#delete-username').val(username);
              $('#delete-userid').val(userid);
          });
          $('#delete-user-commit').on('click',function () {
             var parms = {};
                  parms['username'] = $('#delete-username').val();
                  parms['userid'] = $('#delete-userid').val();
                  console.log(parms)
                  $.post('/user/delete/',parms,function(data) {
                      if (data['is_ok']){
                        alert('删除成功');
                        $('#delete-user').hide();
                        window.location.reload();
                    }else {
                        alert('删除失败');
                    }
                  },'json');
          });
      });
  </script>
  </body>
</html>
